@import '../common/styles/_libs';
@import '../common/styles/_grid';
body {
  box-sizing: border-box;
  background-image: url("../../assets/images/pattern.jpg");
}

.page-wrapper {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.block-header {
  padding: 0.5rem;
  color: #FFF;
}
.card {
  height: 150px;
  padding: 0.5rem;
  background: transparent;
  border: none;
}
.card__background {
  height: 100%;
  position: relative;
}
.card-home > .card__background {
  background: #3387ea;
}
.card-contact > .card__background {
  background: #f9be3e;
}
.card-hire > .card__background {
  background: #d3573e;
}
.card-photos > .card__background {
  background: #59b0e2;
}
.card-about1 > .card__background {
  background: #33af95;
}
.card-portfolio > .card__background {
  background: #86a73f;
}
.card-blog > .card__background {
  background: #151a26;
}
.card-chat > .card__background {
  background: #7e5b8c;
}
@media screen and (max-width: 768px) {
  .page-wrapper {
    position: static;
    top: initial;
    left: initial;
    transform: translate(0, 0)
  }
}
.card__content {
  display: flex;
  color: #FFF;
}
.card__image {
  height: 100%;
  flex: 0 0 30%;
  background: url("../../assets/images/blog-image.png") no-repeat center;
  background-size: cover;
}
.card__description {
  flex: 0 0 70%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  color: #FFF;
}